<p>
    <i>
        "Іноді, нулі нагадують дуже смачні пончики. І кожного разу, коли ми доїдаємо пончик, нам хочеться ще один, а потім ще один, а потім ще..."
    </i>
</p>
<p>
    Тобі дано {% if is_js %}масив{% else %}список{% endif %} з цілими числами. Твоя задача в цій місії - продублювати (..., 0, ... --> ..., 0, 0, ...) всі нулі (думай при цьому про пончики ;-P). Поглянемо на приклад:
</p>
<p>
    <pre class="brush: python">
donuts = [1, 0, 2, 0]
print(list(duplicate_zeros(donuts)))
    </pre>
    <div class="output">
        <p>Вивід:</p>
        <pre>
[1, 0, 0, 2, 0, 0]
        </pre>
    </div>
</p>
<p>
    <strong>Вхідні дані:</strong>{% if is_js %}Масив{% else %}Список{% endif %} цілих чисел.
</p>
<p>
    <strong>Вихідні дані:</strong>{% if is_js %}Масив{% else %}Список або інший ітеративний об'єкт (кортеж, генератор, ітератор) цілих чисел{% endif %}.
</p>
<div class="for_info_only">
    <p>
        <strong>Приклади:</strong>
    </p>
    <pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
<p><i>Якщо ти вирішив цю місію, то можеш зі спокійною душею посмакувати пончиком!=)</i></p>
