<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p>
    <i>
        "Іноді, нулі нагадують дуже смачні пончики. І кожного разу, коли ми доїдаємо пончик, нам хочеться ще один, а потім ще один, а потім ще..."
    </i>
</p>
<p>
    Тобі дано {% if is_js %}масив{% else %}список{% endif %} з цілими числами. Твоя задача в цій місії - продублювати (<b class="code">..., 🍩, ... --> ..., 🍩, 🍩, ...</b>) всі нулі (думай при цьому про пончики ;-P) та повернути результат у вигляді ітеративного об'єкта. Поглянемо на приклад:
</p>
<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}duplicate-zeros.svg" alt="example" style="max-height: 200px"/>
</p>
<p>
    <strong>Вхідні дані:</strong> {% if is_js %}Масив{% else %}Список{% endif %} цілих чисел.
</p>
<p>
    <strong>Вихідні дані:</strong> {% if is_js %}Масив{% else %}Список або інший ітеративний об'єкт (кортеж, генератор, ітератор){% endif %} цілих чисел.
</p>
<div class="for_info_only">
    <p>
        <strong>Приклади:</strong>
    </p>
    <pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
<p><i>Якщо ти вирішив цю місію, то можеш зі спокійною душею посмакувати 🍩!=)</i></p>
