<p>
    <i>
        "Parfois, les zéros ressemblent à des beignets très savoureux. Et chaque fois que nous finissons un beignet, nous en voulons un autre, et puis un autre, et puis un autre..."
    </i>
</p>
<p>
    On vous donne {% if is_js %}un <span>tableau</span> <span>(array)</span> de <span>nombres</span> <span>(numbers)</span>{% else %} une <span>liste</span> <span>(list)</span> d'<span>entiers</span> <span>(integers)</span>{% endif %}. Votre tâche dans cette mission est de dupliquer (<b class="code">..., 🍩, ... -->..., 🍩, 🍩, ...</b>) tous les zéros (pensez aux beignets;-P) et de retourner le résultat sous la forme d'un <span>Iterable</span>. Voyons l'exemple:
</p>
<p>
    <pre>
[1, 0, 2, 0] -> [1, 0, 0, 2, 0, 0]
    </pre>
</p>
<p>
   <strong>Entrée:</strong> {% if is_js %}Un <span>tableau</span> <span>(array)</span> de <span>nombres</span> <span>(numbers)</span>{% else %} Une <span>liste</span> <span>(list)</span> d'<span>entiers</span> <span>(integers)</span>{% endif %}.
</p>
<p>
   <strong>Sortie:</strong> {% if is_js %}Un <span>tableau</span> <span>(array)</span> de <span>nombres</span> <span>(numbers)</span>{% else %} Une <span>liste</span> <span>(list)</span> sur un autre <span>Iterable</span> <span>(tuple</span> <span>(tuple)</span>, <span>generator</span>, <span>iterator</span>) d'<span>entiers</span> <span>(integers)</span>{% endif %}.
</p>
<div class="for_info_only">
    <p>
        <strong>Exemples:</strong>
    </p>
    <pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
<p><i>Si vous avez résolu cette mission, vous pouvez déguster un 🍩 en toute sérénité!=)</i></p>
