<p>
    <i>
        "Sometimes, zeros resemble very tasty donut. And every time we finish a donut, we want another, and then another, and then another..."
    </i>
</p>
<p>
    You are given {% if is_js %}an Array of numbers{% else %}a list of integers{% endif %}. Your task in this mission is to duplicate (<b class="code">..., 🍩, ... --> ..., 🍩, 🍩, ...</b>) all zeros (think about donuts ;-P) and return the result as any Iterable. Let's look on the example:
</p>
<p>
    <pre>
[1, 0, 2, 0] -> [1, 0, 0, 2, 0, 0]
    </pre>
</p>
<p>
    <strong>Input:</strong> {% if is_js %}An Array of numbers{% else %}A list of integers{% endif %}.
</p>
<p>
    <strong>Output:</strong> {% if is_js %}An Array of numbers{% else %}A list on another Iterable (tuple, generator, iterator) of integers{% endif %}.
</p>
<div class="for_info_only">
    <p>
        <strong>Examples:</strong>
    </p>
    <pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
<p><i>If you have solved this mission, you can enjoy a 🍩 with peace of mind!=)</i></p>
