<p>
    <i>
        "Sometimes, zeros resemble very tasty donut. And every time we finish a donut, we want another, and then another, and then another..."
    </i>
</p>
<p>
    You are given <span translate="repeat">{% if is_js %}array{% else %}list{% endif %}</span> of integers <span translate="no">{% if is_js %}(number){% else %}(int){% endif %}</span>. Your task in this mission is to duplicate (<b class="code">..., 🍩, ... --> ..., 🍩, 🍩, ...</b>) all zeros (think about donuts ;-P) and return the result as any <span translate="repeat">Iterable</span>. Let's look on the example:
</p>
<p>
    <pre>
[1, 0, 2, 0] -> [1, 0, 0, 2, 0, 0]
    </pre>
</p>
<p>
    <strong>Input:</strong> <span translate="repeat">{% if is_js %}Array{% else %}List{% endif %}</span> of integers <span translate="no">{% if is_js %}(number){% else %}(int){% endif %}</span>.
</p>
<p>
    <strong>Output:</strong> {% if is_js %}An <span translate="repeat">array</span> of integers <span translate="no">(number)</span>{% else %}A <span translate="repeat">list</span> on another <span translate="repeat">Iterable</span> (<span translate="repeat">tuple</span>, <span translate="repeat">generator</span>, <span translate="repeat">iterator</span>) of integers <span translate="no">(int)</span>{% endif %}.
</p>
<div class="for_info_only">
    <p>
        <strong>Examples:</strong>
    </p>
    <pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
<p><i>If you have solved this mission, you can enjoy a 🍩 with peace of mind!=)</i></p>
