<p><i>"Иногда нули напоминают очень вкусные пончики. И каждый раз, доедая пончик, нам хочется ещё один, а потом ещё, и ещё..."</i></p>

<p>
    Перед вами {% if is_js %}массив{% else %}список{% endif %} целых чисел. Ваша задача в этой миссии – продублировать (<b class="code">..., 🍩, ... --> ..., 🍩, 🍩, ...</b>) все нули в данном списке (думайте о пончиках ;-P) и вернуть в виде любого итерируемого объекта. Посмотрим на пример:
</p>
<p>
    <pre>
[1, 0, 2, 0] -> [1, 0, 0, 2, 0, 0]
    </pre>
</p>
<p>
    <strong>Входные данные:</strong> {% if is_js %}Массив{% else %}Список{% endif %} целых чисел.

<p>
    <strong>Выходные данные:</strong> {% if is_js %}Массив{% else %}Список или другой итерируемый объект (кортеж, генератор, итератор){% endif %} из целых чисел.
</p>

<div class="for_info_only">
    <p>
        <strong>Примеры:</strong>
    </p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
<p><i>Если вы прошли миссию, можете со спокойной душой насладиться 🍩!=)</i></p>
